:root {
    --background-start: #7E57C2;
    --background-end: #6200EA;
    --text: #FFF;
}


* {
    font-family: 'Noto Sans Display', sans-serif;
    margin: 0px;
    padding: 0px;
    color: var(--text);
    transition: 0.6s ease-out; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(public/background_clounds.jpg);
    background-size: cover;
    backdrop-filter: blur(20px);
    height: 100vh;
}

.card {
    border-radius: 20px;
    padding: 20px;
    width: 35%;
    height: 55%;
    background-color: rgba(30, 117, 214, 0.2);
    align-items: end;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.city {
    width: 140px !important;
}

.city, .search-btn {
    width: auto;
    padding: 10px;
    background-color: rgba(77, 153, 231, 0); 
    border: none;
    border-radius: 20px;
}

.content {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather i::before {
    height: 50px;
    width: 50px;
}

.footer {
    display: flex;
    gap: 10px;
}

.mini-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
    height: 75px;
    background-color: rgba(110, 175, 240, 0.3);
    border-radius: 20px;
}

#arrow {
    rotate: -90deg;
}

input:focus, input:hover, button:hover {
    background-color: rgba(77, 153, 231, 0.7);
    outline: 0;
}

input::placeholder {
    color: var(--text);
    opacity: 0.5;
}

button:hover {
    cursor: pointer;
}