@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
  font-family: 'Noto Sans Display', sans-serif;
  --text: #131932;
  --background-start: #FFFFFF;
  --background-end: #F8FAFC;
  --ground: #F8FAFC;
  --shadow: #969696;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #F8FAFC;
    --background-start: #1C2541;
    --background-end: #131932;
    --shadow: #0a0f1b;
  }
}

body {
  background-color: var(--background-start);
  margin: 0;
  min-height: 100vh;
}